<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <div class="well">
    <%= form_for [@product, @review] do |f|  %>
      <div class="form-group">
      <%= f.label :description %>
      </div>
      <div class="form-group">
      <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.select :rating, [5, 4, 3, 2, 1], class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
      <span id="notice"><%= notice %></span>
    <% end %>
    </div>

    <div class="panel panel-default items">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-4">Reviewer</th>
        <th class="col-md-4">Description</th>
        <th colspan="2 col-md-4">Rating</th>
      </tr>
    </thead>
    <tbody>
    <% @reviews.reverse_each do |review| %>
    <% if user = User.find_by(id: review.user_id) %>
    <tr>
      <td>
        <%= user.first_name[0] + user.last_name[0] %>
      </td>
      <td>
        <%= review.description %>
      </td>
      <td>
        <% review.rating.times do |fire| %>
         🔥
        <% end %>
      </td>
      <td>
        <% if current_user %>
          <% if current_user.id == review.user_id %>
            <%= link_to fa_icon('trash'), { :controller => :reviews, :action => :destroy , :id => review.id }, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        <% end %>
      </td>
    </tr>
    </tbody>
    <% end %>
    <% end %>
    </table>
    </div>

  </article>

</section>
